@font-face {
    font-family: 'Twentieth Century';
    src: url('../fonts/Tw%20Cen%20MT.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #777;
    line-height: 30px;
    text-align: center;
    overflow-x: hidden;
}
strong {
    font-weight: 700;
}
a,
a:hover,
a:focus {
    color: #00c0ff;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
}
h1, h2 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #555;
    line-height: 1.2;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 38px;
}
p {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 25px;
}
img {
    max-width: 100%;
}
.medium-paragraph {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 25px;
}
::-moz-selection {
    background: #e38f42;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #e38f42;
    color: #fff;
    text-shadow: none;
}
@media (max-width: 991px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 30px;
    }
}

/***** Buttons *****/

.btn {
    background: #00c0ff;
    border-color: #00c0ff;
    color: #fff !important;
    padding: 12px 24px;
    width: 100%;
}

/***** General style, all sections *****/

.section-container {
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
}
.fader {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    height: 250px;
    background: transparent;
    box-shadow: 100px -350px 160px -200px #fff inset;
    z-index: -1;
}
.right {
    right: 0;
}
.left {
    left: 0;
}

/***** Top menu *****/

.navbar {
    margin-bottom: 0;
    background: #999;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 75px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
.navbar-arc {
    height: 50px;
    background: #999;
}
.navbar-arc:after {
    content: '';
    display: block;
    background: blue;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 50px;
    width: 100%;
}
ul.navbar-nav {
    font-size: 15px;
    color: #fff;
}
.navbar-inverse ul.navbar-nav li a {
    color: #fff;
    border: 0;
    font-weight: 400;
    height: 75px;
    padding: 25px 10px;
}
.navbar-inverse ul.navbar-nav li a:hover {
    color: #fff;
    opacity: 1;
    border: 0;
}
.navbar-inverse ul.navbar-nav li a:focus {
    color: #fff;
    outline: 0;
    opacity: 1;
    border: 0;
}
.navbar-brand {
    width: 125px;
    max-width: 125px;
    padding: 10px 0;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-inverse-circle {
    background: #999;
    width: 100%;
    display: block;
    height: 50px;
}
.navbar-header {
    height: 75px;
}
.navbar-collapse {
    background: #999;
}
@media (max-width: 767px) {
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav ul li a {
        height: 50px;
        padding: 15px;
    }
    .navbar-toggle {
        margin: 20px;
    }
    .navbar-brand {
        margin-left: 20px !important;
    }
}

/***** Forms *****/

.form-one {}
.form-one input[name="email"] {
    border-right: none;
}
.form-one button[type="submit"] {
    height: 100%;
    min-height: 50px;
    background: #fff;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    border-left: none;
    outline: none;
}
.form-one .input-group label.error:not([style="display: none;"]) + .input-group-btn button {
    height: 85px;
    border-color: rgb(200, 50, 0);
}

.form-one .input-group label.error:not([style="display: none;"]) + .input-group-btn .fa {
    color: rgb(200, 50, 0) !important;
}
.form-one button[type="submit"] .fa {
    font-size: 34px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.form-one button[type="submit"]:hover .fa {
    color: #00c0ff;
}
.form-two {
    display: none;
}
.newcomer-form-container {
    padding-top: 100px;
}
input.error,
select.error {
    border-color: rgb(200, 50, 0) !important;
}
input + .error,
select + .error {
    color: #fff;
    background: rgb(200, 50, 0);
    width: 100%;
}
label.error {
    height: 100%;
}
.form-control {
    height: 50px;
    border-radius: 0;
    box-shadow: none !important;
    border: 1px solid #e5e5e5;
}
.privacy {
    margin-top: 10px;
    font-size: 12px;
    clear: left;
}
@media (max-width: 1199px) {
    .privacy {
        color: #777 !important;
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .newcomer-form-container {
        padding-top: 50px;
    }
}
@media (max-width: 767px) {
    .newcomer-form-container {
        padding-top: 0;
    }
}

/***** Top Content *****/

.top-content {
    position: relative;
    min-height: 800px;
    padding-top: 100px;
}
.top-content p {
    color: #fff !important;
}
.top-content .oval-container .oval.oval-vertical--center:after {
    content: "coming soon.";
    font-size: 48px;
    font-weight: 600;
    font-family: 'Twentieth Century', sans-serif;
    position: relative;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 125px;
    display: block;
}
.thank-you {
    display: none;
}
@media (max-width: 1599px) {
    .top-content {
        min-height: 700px;
    }
}
@media (max-width: 1199px) {
    .top-content {
        min-height: 600px;
    }
    .top-content .oval-container .oval.oval-vertical--center:after {
        font-size: 40px;
        top: 100px;
    }
}
@media (max-width: 991px) {
    .top-content {
        min-height: 500px;
    }
}
.top-content h1 {
    font-family: 'Twentieth Century', sans-serif;
}
.top-content h1,
.top-content h3,
.top-content p {
    color: #fff;
}

/***** About *****/

#about .computer {
    position: relative;
    width: 750px;
    max-width: 750px;
    right: -350px;
}
@media (max-width: 1599px) {
    #about .computer {
        width: 650px;
        right: -250px;
    }
}
@media (max-width: 1199px) {
    #about .computer {
        width: 600px;
        right: -200px;
    }
}
@media (max-width: 991px) {
    #about .computer {
        width: 100%;
        max-width: 100%;
        position: static;
    }
}

/***** How it works *****/

#how-it-works .icon-text {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}
#how-it-works .icon-container {
    border-radius: 25px;
    margin-top: 100px;
}
#how-it-works .icon-wrapper {
    min-height: 110px;
}
#how-it-works .icon {
    display: block;
    margin: 0 auto;
}
#how-it-works .row .col-sm-4:nth-child(1) .icon:after,
#how-it-works .row .col-sm-4:nth-child(2) .icon:after {
    content: "";
    background-image: url('../img/arrow.png');
    display: block;
}
@media (max-width: 1199px) {
    #how-it-works .icon-text {
        font-size: 14px;
    }
    #how-it-works .icon-container {
        margin-top: 150px;
    }
}
@media (max-width: 991px) {
    #how-it-works .icon-container {
        margin-top: 50px;
    }
}
@media (max-width: 767px) {
    #how-it-works .icon-text {
        margin-bottom: 50px;
    }
}

/***** Floating Ovals *****/

.top-content > .oval-container {
    left: -500px;
    top: 100px;
}
.oval-container {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.oval {
    border-radius: 50%;
    background: rgba(230, 230, 230, .4);
    position: absolute;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.oval-dynamic {
    width: 60%;
    height: 75%;
}
.oval-static {
    width: 1000px;
    height: 600px;
}
.oval-static.oval-static--full {
    width: 100%;
}
.oval-diagonal-left {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
}
.oval-diagonal-right {
    -webkit-transform: rotate(335deg);
    -moz-transform: rotate(335deg);
    transform: rotate(335deg);
}
.oval-vertical {}
.oval-vertical.oval-vertical--center {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
.oval-vertical.oval-vertical--right {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    transform: rotate(100deg);
}
.oval-vertical.oval-vertical--left {
    -webkit-transform: rotate(84deg);
    -moz-transform: rotate(84deg);
    transform: rotate(84deg);
}
.oval-horizontal {
    display: block;
    margin: auto;
}
.oval-horizontal.oval-horizontal--center {
    -webkit-transform: rotate(185deg);
    -moz-transform: rotate(185deg);
    transform: rotate(185deg);
}
.oval-horizontal.oval-horizontal--right {
    -webkit-transform: rotate(195deg);
    -moz-transform: rotate(195deg);
    transform: rotate(195deg);
}
.oval-horizontal.oval-horizontal--left {
    -webkit-transform: rotate(175deg);
    -moz-transform: rotate(175deg);
    transform: rotate(175deg);
}
@media (max-width: 1599px) {
    .top-content > .oval-container {
        left: -500px;
    }
    .oval-dynamic {
        width: 75%;
        height: 90%;
    }
    .oval-static {
        width: 800px;
        height: 500px;
    }
}
@media (max-width: 1199px) {
    .top-content > .oval-container {
        left: -450px;
        top: 50px;
    }
    .oval-dynamic {
        width: 75%;
        height: 100%;
    }
    .oval-static {
        width: 700px;
        height: 400px;
    }
}
@media (max-width: 991px) {
    .oval-container .oval-dynamic {
        display: none;
    }
    .oval-static {
        width: 600px;
        height: 300px;
    }
}

/***** Footer *****/

footer {
    padding: 60px 0 35px 0;
    background: #fff;
    text-align: left;
}
.footer-content {
    height: 600px;
    padding-top: 75px;
}
.footer-content .fa {
    font-size: 40px;
}
.footer-content .fa-facebook-square {
    color: #3b5998;
}
.footer-content .fa-facebook-square {
    color: #0084b4;
}
.footer-content .instagram-icon {
    position: relative;
    vertical-align: baseline;
    top: 3px;
}
.footer-copyright {
    margin-top: 30px;
    padding-top: 30px;
}
.footer-menu {
    margin-top: 30px;
    padding-top: 30px;
    text-align: right;
}
.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-menu li {
    display: inline;
    margin-left: 20px;
}
@media (max-width: 1599px) {
    .footer-content {
        padding-top: 25px;
    }
}
@media (max-width: 1199px) {
    .footer-content {
        height: auto;
        padding-top: 0;
    }
}
@media (max-width: 991px) {
    .footer-menu li {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .footer-copyright {
        text-align: center;
    }
    .footer-menu {
        display: none;
    }
    .oval-container {
        display: none;
    }
}

/***** List *****/

.list-alert {
    margin-top: 25px;
}
.newcomer-row {
    padding: 25px 0;
}
.newcomer-row:not(:first-child) {
    border-top: 1px solid #e5e5e5;
}
.newcomer-row:last-child {
    margin-bottom: 25px;
}

/***** Modal *****/

.modal-content {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: left;
}
.modal-body {
    padding: 0 25px 15px 25px;
}
.modal-body img {
    margin-bottom: 15px;
}
.modal-header {
    padding: 25px 25px 15px 25px;
}
.modal-footer {
    padding: 15px 25px 25px 25px;
}
.modal-header,
.modal-footer {
    border: 0;
}
.modal-header .close {
    font-size: 36px;
    color: #888;
    font-weight: 400;
    text-shadow: none;
    opacity: 1;
}
.modal-footer button {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    background: #e38f42;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.modal-footer button:hover {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}
.modal-footer button:focus,
.modal-footer button:active:focus,
.modal-footer button.active:focus {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-footer button:before {
    background: none;
}

#modal-privacy strong {
    font-size: 20px;
    color: #333;
}
#modal-privacy p,
#modal-privacy li {
    font-size: 16px;
    margin-bottom: 10px;
}

/***** Animations *****/

.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
    display: block;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(8%);
    }
    65% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(4%);
    }
    95% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    65% {
        -webkit-transform: translateY(-4%);
    }
    80% {
        -webkit-transform: translateY(4%);
    }
    95% {
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.tossing {
    animation-name: tossing;
    -webkit-animation-name: tossing;

    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
    100% {
        -webkit-transform: rotate(-4deg);
    }
}